/* ----------------- button style to open the shopping bag ----------------- */
.button-shopping-cart {
  background-color: var(--orange-color-2);
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  z-index: 4;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: all 0.3s;
  box-shadow: 10px 10px 16px -9px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 10px 10px 16px -9px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 10px 16px -9px rgba(0, 0, 0, 0.24);

  &&:hover {
    transform: scale(1.05);
    background-color: var(--orange-color-1);
    box-shadow: 10px 10px 16px -9px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 10px 10px 16px -9px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 10px 10px 16px -9px rgba(255, 255, 255, 0.2);
  }
}

/* ----------------- product card style ----------------- */
.product-shopping-bag {
  width: 100%;
  height: 20vh;
  min-height: 80px;
  border-radius: 10px;
  background: var(--blur-color-2);
  display: grid;
  grid-template-columns: 30% 40% 10% 5% 10%;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  position: relative;
}

.product-shopping-bag h2 {
  flex-wrap: wrap;
  padding-left: 1rem;
  align-self: center;
}

.product-shopping-bag span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  grid-row: span 2;
}

.product-shopping-bag span button {
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 700;
}

.image-product-shopping-bag {
  grid-column: 1;
  grid-row: span 2;
}

.name-product-shopping-bag {
  font-size: clamp(16px, 2vw, 25px);
}

.increase button {
  background-color: rgb(16, 201, 16);
}

.decrease button {
  background-color: rgba(255, 0, 0, 0.5);
}
.increase button:hover,
.decrease button:hover {
  transform: scale(1.05);
}

@media (max-width: 500px) {
  .product-shopping-bag {
    max-height: 100px;
  }
}
