.container-product-details {
  width: 100%;
  height: calc(100vh - 10vh);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 300px calc(100% - 300px);
}

.container-details-img {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-8%);
  z-index: 0;
}

.return-button {
  position: absolute;
  top: 2rem;
  left: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 7rem;
  height: 3rem;
  border-radius: 20px;
  border: none;
  outline: none;
  background: var(--blur-color-1);
  color: black;
  cursor: pointer;
  backdrop-filter: blur(3px);
  z-index: 2;

  &&:hover {
    transform: scale(1.03);
  }
}

.return-button span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container-detail-info {
  height: 100%;
  width: 100%;
  background: var(--gray-color-1);
  z-index: 2;
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 2fr 3fr 2fr 1fr;
  padding: 1rem;
  align-items: center;
}

.details-product-name {
  align-self: center;
  grid-column: span 2;
  grid-row: 1;
  font-size: clamp(20px, 2.5vw, 48px);
}

.details-stars {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-description {
  display: flex;
  align-items: center;
  grid-column: span 3;
  grid-row: 2;
  font-size: 1rem;
}

.details-price {
  grid-column: 1;
  grid-row: 3;
  color: rgb(0, 174, 12);
  font-size: 2rem;
}
.details-add-carShop,
.details-whatsapp {
  height: 4rem;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  max-width: 15rem;
  cursor: pointer;

  &&:hover {
    transform: scale(1.03);
  }
}

.details-whatsapp {
  grid-column: 1;
  grid-row: 4;
  background: #49c557;
}

.details-add-carShop {
  grid-column: 3;
  grid-row: 4;
  background: rgb(210, 145, 23);
  justify-self: center;
}

@media (max-width: 500px) {
  .details-info {
    transform: translateY(-5vh);
  }
}
