.main {
  display: grid;
  flex-direction: column;
  grid-template-columns: 100%;
  grid-template-rows: auto /* 30% */ /* repeat(6, 1fr) */;
  width: 100%;
  height: 100%;
}

header {
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#recommendation {
  width: 100vw;
  min-height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-recommendation {
  width: 100vw;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

#tags,
#meals,
#drinks,
#desserts,
#portions {
  width: 100vw;
  height: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

section .link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section h2 {
  align-self: center;
  font-size: 1.5rem;
  margin: 1rem 0;
  color: black;
}

.container-all-produts::-webkit-scrollbar,
.tags-shortcuts::-webkit-scrollbar {
  height: 5px;
}

.container-all-produts::-webkit-scrollbar-thumb,
.tags-shortcuts::-webkit-scrollbar-thumb {
  background: rgba(216, 216, 216, 0.589);
  border-radius: 50px;
  cursor: pointer;
}

.container-all-produts::-webkit-scrollbar-thumb:hover,
.tags-shortcuts::-webkit-scrollbar-thumb:hover {
  background: rgba(196, 196, 196, 0.589);
}

.container-all-produts::-webkit-scrollbar-track,
.tags-shortcuts::-webkit-scrollbar-track {
  background-color: transparent;
}

.container-all-produts::-webkit-scrollbar-button,
.tags-shortcuts::-webkit-scrollbar-button {
  display: none;
}

@media (max-width: 400px) {
  .main .tags-shortcuts {
    justify-content: flex-start;
  }
}

@media (max-width: 650px) {
  .main section h2 {
    align-self: flex-start;
  }
}
