.container-logo {
  background: var(--blue-color-1);
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-input {
  position: absolute;
  width: 70vw;
  height: 3rem;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  border-radius: 20px;
  box-shadow:
    0.7px 1.3px 2.2px rgba(0, 0, 0, 0.02),
    1.8px 3.1px 5.3px rgba(0, 0, 0, 0.028),
    3.4px 5.8px 10px rgba(0, 0, 0, 0.035),
    6px 10.3px 17.9px rgba(0, 0, 0, 0.042),
    11.3px 19.2px 33.4px rgba(0, 0, 0, 0.05),
    27px 46px 80px rgba(0, 0, 0, 0.07);
}

.container-input label {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem;
  border-radius: 20px;
  background: white;
  overflow: hidden;
  position: relative;
}

.container-input label input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  padding-left: 3rem;
  outline: none;
}

/* .container-input label {
  display: flex;
  align-items: flex-start;
  width: 70%;
  height: 3rem;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  box-shadow:
    0.7px 1.3px 2.2px rgba(0, 0, 0, 0.02),
    1.8px 3.1px 5.3px rgba(0, 0, 0, 0.028),
    3.4px 5.8px 10px rgba(0, 0, 0, 0.035),
    6px 10.3px 17.9px rgba(0, 0, 0, 0.042),
    11.3px 19.2px 33.4px rgba(0, 0, 0, 0.05),
    27px 46px 80px rgba(0, 0, 0, 0.07);
}

.container-input label input {
  position: absolute;
  padding-left: 3rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
}
 */
