.container-loading-card,
.container-recommendation-product {
  width: 250px;
  height: 200px;
  display: grid;
  border-radius: 20px;
  grid-template-columns: 100%;
  grid-template-rows: 60% 10% 20% 10%;
  box-shadow: 4px 4px 9px 1px rgba(0, 0, 0, 0.29);
  overflow: hidden;
  padding-bottom: 0.5rem;
}

.image-recommendation-product {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-recommendation-product {
  align-self: center;
  margin: 0 1rem;
  font-size: clamp(12px, 1vw, 25px);
}

.description-recommendatio-product {
  font-size: clamp(8px, 0.8vw, 20px);
  align-self: center;
  margin: 0 1rem;
}

.price-recommendation-product {
  font-size: clamp(10px, 0.9vw, 22px);
  align-self: center;
  margin: 0 1rem;
  color: var(--green-color-1);
}

/* ------------------ Style of Loading component ------------------ */
.container-product-card-loading {
  display: flex;
  gap: 1rem;
}
.container-loading-card {
  background: white;
}

.container-loading-img {
  background: rgb(248, 248, 248);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container-loading-info {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
  padding: 0.5rem 1rem;
}
.container-loading-info .eskeleton {
  height: 1rem;
  width: 100%;
  position: relative;
  background: var(--eskeleton-color);
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 10px 10px 31px -17px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 31px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 31px -17px rgba(0, 0, 0, 0.75);
}

.container-loading-img::after,
.container-loading-info div::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation 0.8s linear infinite;
}

@keyframes gradient-animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
