.container-card-eskeleton,
.product-card-container {
  width: 100%;
  max-width: 50rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 15px;
  display: grid;
  gap: 0 0.5rem;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 4px 4px 9px 1px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 4px 4px 9px 1px rgba(0, 0, 0, 0.29);
}
.container-image-eskeleton,
.product-image-container {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: span 3;
  position: relative;
  overflow: hidden;
}

.container-image-eskeleton {
  background: var(--eskeleton-color);
  overflow: hidden;
  position: relative;
}

.product-image-container .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

.title {
  align-self: center;
  padding: 0 1rem;
  font-size: clamp(16px, 1.5rem 32px);
}

.descrition {
  align-self: center;
  padding: 0 1rem;
}

.price {
  align-self: center;
  padding: 0 1rem;
}

.eskeleton-1,
.eskeleton-2,
.eskeleton-3 {
  height: 2rem;
  background-color: var(--eskeleton-color);
  margin-top: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.eskeleton-1 {
  width: 60%;
}
.eskeleton-2 {
  width: 90%;
}
.eskeleton-3 {
  width: 50%;
}

.container-image-eskeleton::after,
.eskeleton-1::after,
.eskeleton-2::after,
.eskeleton-3::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation 0.8s linear infinite;
}

@keyframes gradient-animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
