.container-card-eskeleton,
.meal-product-card {
  width: 100%;
  max-width: 50rem;
  height: 120px;
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0 0.5rem;
  overflow: hidden;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 4px 4px 9px 1px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 4px 4px 9px 1px rgba(0, 0, 0, 0.29);

  &&:hover {
    transform: scale(1.03);
  }
}

.container-image-eskeleton,
.image-container-meal-products {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: span 3;
  position: relative;
  overflow: hidden;
}

.container-image-eskeleton {
  background: var(--eskeleton-color);
  overflow: hidden;
  position: relative;
}

.image-container-meal-products {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title {
  align-self: center;
  padding: 0 1rem;
  font-size: clamp(10px, 1rem 32px);
  color: var(--gray-color-2);
}

.description {
  align-self: center;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 0.7rem;
  padding: 0 1rem;
  color: var(--gray-color-3);
}

.price {
  align-self: center;
  padding: 0 1rem;
  color: var(--green-color-2);
}

.eskeleton-1,
.eskeleton-2,
.eskeleton-3 {
  height: 2rem;
  background-color: var(--eskeleton-color);
  margin-top: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.eskeleton-1 {
  width: 60%;
}
.eskeleton-2 {
  width: 90%;
}
.eskeleton-3 {
  width: 50%;
}

.container-image-eskeleton::after,
.eskeleton-1::after,
.eskeleton-2::after,
.eskeleton-3::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
  animation: gradient-animation 0.8s linear infinite;
}

@keyframes gradient-animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
